header {
  background: #fff!important;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 2;
  box-shadow: 0 10px 10px -2px #dedede;
  .bg-light {
    background: #fff!important;
  }
  nav{
   .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
    }
     .navbar-toggler {
      border-color: #337ab7!important;
      background: #337ab7;
       border-color: rgb(255,102,203);
    }
    .navbar-brand {
      justify-content: flex-start;
    }
    #navbarNav {
      justify-content: flex-end;
      .navbar-nav {
        .nav-item {
          .nav-text:hover {
            background: #eeeeee;
            color: #337ab7;
          }
          .nav-text:active {
            background: #eeeeee;
            color: #337ab7;
          }
          .nav-text:focus {
            background: #eeeeee;
            color: #337ab7;
          }
        }
      }
    }
      ul {
        li {
          .nav-link {
            margin: 0 .3em;
          }
          .btn-leave-message {
            padding: 8px 1.5rem!important;
            border-radius: 25px;
            background: #337ab7;
            color: #e5f2f3!important;
            text-decoration: none;
          }
          .btn-leave-message:hover {
            background: #337ab7;
            color: #e5f2f3!important;
          }
          .btn-leave-message:active {
            background: #337ab7;
            color: #e5f2f3!important;
          }
          .btn-leave-message:focus{
            background: #337ab7;
            color: #e5f2f3!important;
          }
        }
      }
  }
}
